---
import Section from "../Section.astro"

import { education } from "@cv"
---

<Section title="Education">
  <ul>
    {
      education.map(({ institution, startDate, endDate, area }) => {
        const startYear = new Date(startDate).getFullYear()
        const startMonth = new Date(startDate).toLocaleString('en-US', { month: 'short' })
        const endYear = endDate != null ? new Date(endDate).getFullYear() : "Current"
        const endMonth = new Date(startDate).toLocaleString('en-US', { month: 'short' })
        const years = `${startMonth} ${startYear} - ${endMonth} ${endYear}`

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                </div>

                <div class="time-container">
                  <time>{years}</time>
                </div>
              </header>

              <footer>
                <p>{area}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  .time-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  time {
    color: rgb(107, 114, 128);
    font-size: 0.85rem;
    min-width: max-content;
    max-width: max-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.425rem;
    margin-left: 1em;
    text-wrap: nowrap;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
