---
import Section from "../Section.astro"

import { work } from "@cv"
---

<Section title="Work Experience">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url, positions }) => {
          const startYear = new Date(startDate).getFullYear()
          const startMonth = new Date(startDate).toLocaleString('en-US', { month: 'short' })
          const endYear = endDate != null ? new Date(endDate).getFullYear() : "Current"
          const endMonth = endDate != null ? new Date(endDate).toLocaleString('en-US', { month: 'short' }) : null
          const years = `${startMonth} ${startYear} - ${endDate !== null ? `${endMonth} ` : ''}${endYear}`

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`See ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                  </div>
                </header>
                {
                  !positions &&
                  <div class="position">
                    {!positions && <h4>{position}</h4>}
                    {!positions && <time>{years}</time>}
                  </div>
                }
                {
                  positions?.map((pos) => {
                    const startYearPosition = new Date(pos.startDate).getFullYear()
                    const startMonthPosition = new Date(pos.startDate).toLocaleString('en-US', { month: 'short' })
                    const endYearPosition =
                      pos.endDate != null ? new Date(pos.endDate).getFullYear() : "Current"
                    const endMonthPosition = pos.endDate != null ? new Date(pos.endDate).toLocaleString('en-US', { month: 'short' }) : null
                    const yearsPosition = `${startMonthPosition} ${startYearPosition} - ${pos.endDate !== null ? `${endMonthPosition} ` : ''} ${endYearPosition}`
                    return (
                      <div class="positions">
                        <h4>{pos.position}</h4>
                        <time>{yearsPosition}</time>
                      </div>
                    )
                  })
                }

                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  article h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #111;
    line-height: 1.5rem;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
    font-size: .875rem;
    font-family:
      Menlo,
      Monaco,
      Courier,
      "Courier New",
      Lucida Console,
      monospace;
      margin-top: 0.425rem;
  }

  article p {
    font-size: .75rem;
    line-height: 1.125rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-bottom: 0.375rem; */
  }

  .positions, .position {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.375rem;
  }

  time {
    color: rgb(107, 114, 128);
    font-size: 0.85rem;
    min-width: max-content;
    max-width: max-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.425rem;
    margin-left: 1em;
    text-wrap: nowrap;
  }

  div.positions + footer {
    margin-top: 0.625rem;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
