---
import Section from "../Section.astro"

import { work } from "@cv"
---

<Section title="Work Experience">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Current"
          const years = `${startYear} - ${endYear}`

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`See ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{years}</time>
                </header>

                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  article h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #111;
    line-height: 1.5rem;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
    font-size: .875rem;
    font-family:
      Menlo,
      Monaco,
      Courier,
      "Courier New",
      Lucida Console,
      monospace;
      margin-top: 0.425rem;
  }

  article p {
    font-size: .75rem;
    line-height: 1.125rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.375rem;
  }

  time {
    color: rgb(107, 114, 128);
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
